#? Copy this to .env and fill in your values
# OpenAI API Key for LLM responses
AUTH_SECRET=your_auth_secret_here
OPENAI_API_KEY=your_openai_api_key_here

# Minecraft Server Settings
MINECRAFT_HOST=localhost #185.83.155.26 #localhost
MINECRAFT_PORT=25565 #25596 #25565
MINECRAFT_ID=1

# Storage Service
STORAGE_BASE_URL=http://localhost:8000
STORAGE_SERVICE_URL=http://localhost:8000/api/v1

# Storage credentials (Redis, Firestore, Cloud Storage)
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_URL=redis://localhost:6379 #redis://host.docker.internal:6379 # redis://localhost:6379
REDIS_PASSWORD=

# Governor configuration
FASTAPI_BRIDGE_URL=http://localhost:5000

# Bot Configuration (API & Logic)
MINECRAFT_USERNAME=MinecraftBot
MINECRAFT_PASSWORD=
BOT_HOST=http://0.0.0.0 # or http://127.0.0.1
AGENT_PORT=3001
LOGIC_PORT=4001
API_HOST=0.0.0.0

CONFIG_URL=''
CONFIG_WATCH=false

# Logging
LOG_LEVEL=info
LOG_FILE=bot-agent.log

# Development
ENV=local # dev | prod | local
DEBUG=false